USE [master]
GO
/****** Object:  Database [Gestion_Academica]    Script Date: 07/12/2025 05:05:34 p. m. ******/
CREATE DATABASE [Gestion_Academica]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Gestion_Academica', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Gestion_Academica.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Gestion_Academica_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Gestion_Academica_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Gestion_Academica].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Gestion_Academica]
GO
/****** Object:  Schema [academico]    Script Date: 07/12/2025 05:05:35 p. m. ******/
CREATE SCHEMA [academico]
GO
/****** Object:  Table [academico].[Calificaciones]    Script Date: 07/12/2025 05:05:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [academico].[Calificaciones](
	[CalificacionId] [int] IDENTITY(1,1) NOT NULL,
	[InscripcionId] [int] NOT NULL,
	[NombreEvaluacion] [nvarchar](150) NULL,
	[FechaEvaluacion] [date] NOT NULL,
	[Nota] [decimal](5, 2) NOT NULL,
	[Peso] [decimal](5, 2) NULL,
	[Comentario] [nvarchar](400) NULL,
PRIMARY KEY CLUSTERED 
(
	[CalificacionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [academico].[Cursos]    Script Date: 07/12/2025 05:05:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [academico].[Cursos](
	[CursoId] [int] IDENTITY(1,1) NOT NULL,
	[MateriaId] [int] NOT NULL,
	[PeriodoId] [int] NOT NULL,
	[CodigoCurso] [nvarchar](60) NULL,
	[Docente] [nvarchar](200) NULL,
	[CupoMaximo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CursoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [academico].[Estudiantes]    Script Date: 07/12/2025 05:05:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [academico].[Estudiantes](
	[EstudianteId] [int] IDENTITY(1,1) NOT NULL,
	[CodigoEstudiante] [nvarchar](20) NOT NULL,
	[Nombre] [nvarchar](120) NOT NULL,
	[Apellido] [nvarchar](120) NOT NULL,
	[FechaNacimiento] [date] NULL,
	[Email] [nvarchar](150) NULL,
	[Telefono] [nvarchar](50) NULL,
	[FechaIngreso] [date] NULL,
	[EsActivo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EstudianteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CodigoEstudiante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [academico].[EventosAutomatizacion]    Script Date: 07/12/2025 05:05:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [academico].[EventosAutomatizacion](
	[EventoId] [int] IDENTITY(1,1) NOT NULL,
	[FechaEvento] [datetime2](7) NOT NULL,
	[Direccion] [nvarchar](3) NOT NULL,
	[Puerto] [nvarchar](20) NULL,
	[Mensaje] [nvarchar](500) NOT NULL,
	[Tipo] [nvarchar](50) NULL,
	[Procesado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EventoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [academico].[Inscripciones]    Script Date: 07/12/2025 05:05:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [academico].[Inscripciones](
	[InscripcionId] [int] IDENTITY(1,1) NOT NULL,
	[EstudianteId] [int] NOT NULL,
	[CursoId] [int] NOT NULL,
	[FechaInscripcion] [datetime2](7) NOT NULL,
	[Estado] [nvarchar](50) NOT NULL,
	[PromedioActual] [decimal](5, 2) NULL,
	[ProbabilidadRiesgo] [decimal](5, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[InscripcionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Inscripcion] UNIQUE NONCLUSTERED 
(
	[EstudianteId] ASC,
	[CursoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [academico].[Materias]    Script Date: 07/12/2025 05:05:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [academico].[Materias](
	[MateriaId] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](30) NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[Creditos] [int] NOT NULL,
	[EsActiva] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MateriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [academico].[Periodos]    Script Date: 07/12/2025 05:05:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [academico].[Periodos](
	[PeriodoId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NOT NULL,
	[EsActivo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PeriodoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [academico].[Roles]    Script Date: 07/12/2025 05:05:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [academico].[Roles](
	[RolId] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [nvarchar](80) NOT NULL,
	[Descripcion] [nvarchar](200) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Rol_Nombre] UNIQUE NONCLUSTERED 
(
	[NombreRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [academico].[UsuarioRoles]    Script Date: 07/12/2025 05:05:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [academico].[UsuarioRoles](
	[UsuarioId] [int] NOT NULL,
	[RolId] [int] NOT NULL,
 CONSTRAINT [PK_UsuarioRoles] PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC,
	[RolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [academico].[Usuarios]    Script Date: 07/12/2025 05:05:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [academico].[Usuarios](
	[UsuarioId] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [nvarchar](80) NOT NULL,
	[PasswordHash] [nvarchar](300) NOT NULL,
	[Email] [nvarchar](150) NULL,
	[EsActivo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Usuario_Nombre] UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Calificaciones_Fecha]    Script Date: 07/12/2025 05:05:35 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Calificaciones_Fecha] ON [academico].[Calificaciones]
(
	[FechaEvaluacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Calificaciones_Inscripcion]    Script Date: 07/12/2025 05:05:35 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Calificaciones_Inscripcion] ON [academico].[Calificaciones]
(
	[InscripcionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cursos_Materia_Periodo]    Script Date: 07/12/2025 05:05:35 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Cursos_Materia_Periodo] ON [academico].[Cursos]
(
	[MateriaId] ASC,
	[PeriodoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Eventos_FFecha]    Script Date: 07/12/2025 05:05:35 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Eventos_FFecha] ON [academico].[EventosAutomatizacion]
(
	[FechaEvento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Inscripciones_Curso]    Script Date: 07/12/2025 05:05:35 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Inscripciones_Curso] ON [academico].[Inscripciones]
(
	[CursoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Inscripciones_Estudiante]    Script Date: 07/12/2025 05:05:35 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Inscripciones_Estudiante] ON [academico].[Inscripciones]
(
	[EstudianteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [academico].[Calificaciones] ADD  DEFAULT (CONVERT([date],getdate())) FOR [FechaEvaluacion]
GO
ALTER TABLE [academico].[Estudiantes] ADD  DEFAULT ((1)) FOR [EsActivo]
GO
ALTER TABLE [academico].[Estudiantes] ADD  DEFAULT (sysutcdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [academico].[EventosAutomatizacion] ADD  DEFAULT (sysutcdatetime()) FOR [FechaEvento]
GO
ALTER TABLE [academico].[EventosAutomatizacion] ADD  DEFAULT ((0)) FOR [Procesado]
GO
ALTER TABLE [academico].[Inscripciones] ADD  DEFAULT (sysutcdatetime()) FOR [FechaInscripcion]
GO
ALTER TABLE [academico].[Inscripciones] ADD  DEFAULT ('Matriculado') FOR [Estado]
GO
ALTER TABLE [academico].[Materias] ADD  DEFAULT ((1)) FOR [EsActiva]
GO
ALTER TABLE [academico].[Periodos] ADD  DEFAULT ((1)) FOR [EsActivo]
GO
ALTER TABLE [academico].[Usuarios] ADD  DEFAULT ((1)) FOR [EsActivo]
GO
ALTER TABLE [academico].[Usuarios] ADD  DEFAULT (sysdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [academico].[Calificaciones]  WITH CHECK ADD  CONSTRAINT [FK_Calificaciones_Inscripcion] FOREIGN KEY([InscripcionId])
REFERENCES [academico].[Inscripciones] ([InscripcionId])
GO
ALTER TABLE [academico].[Calificaciones] CHECK CONSTRAINT [FK_Calificaciones_Inscripcion]
GO
ALTER TABLE [academico].[Cursos]  WITH CHECK ADD  CONSTRAINT [FK_Cursos_Materia] FOREIGN KEY([MateriaId])
REFERENCES [academico].[Materias] ([MateriaId])
GO
ALTER TABLE [academico].[Cursos] CHECK CONSTRAINT [FK_Cursos_Materia]
GO
ALTER TABLE [academico].[Cursos]  WITH CHECK ADD  CONSTRAINT [FK_Cursos_Periodo] FOREIGN KEY([PeriodoId])
REFERENCES [academico].[Periodos] ([PeriodoId])
GO
ALTER TABLE [academico].[Cursos] CHECK CONSTRAINT [FK_Cursos_Periodo]
GO
ALTER TABLE [academico].[Inscripciones]  WITH CHECK ADD  CONSTRAINT [FK_Inscripciones_Curso] FOREIGN KEY([CursoId])
REFERENCES [academico].[Cursos] ([CursoId])
GO
ALTER TABLE [academico].[Inscripciones] CHECK CONSTRAINT [FK_Inscripciones_Curso]
GO
ALTER TABLE [academico].[Inscripciones]  WITH CHECK ADD  CONSTRAINT [FK_Inscripciones_Estudiante] FOREIGN KEY([EstudianteId])
REFERENCES [academico].[Estudiantes] ([EstudianteId])
GO
ALTER TABLE [academico].[Inscripciones] CHECK CONSTRAINT [FK_Inscripciones_Estudiante]
GO
ALTER TABLE [academico].[UsuarioRoles]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioRoles_Roles] FOREIGN KEY([RolId])
REFERENCES [academico].[Roles] ([RolId])
ON DELETE CASCADE
GO
ALTER TABLE [academico].[UsuarioRoles] CHECK CONSTRAINT [FK_UsuarioRoles_Roles]
GO
ALTER TABLE [academico].[UsuarioRoles]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioRoles_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [academico].[Usuarios] ([UsuarioId])
ON DELETE CASCADE
GO
ALTER TABLE [academico].[UsuarioRoles] CHECK CONSTRAINT [FK_UsuarioRoles_Usuarios]
GO
ALTER TABLE [academico].[Calificaciones]  WITH CHECK ADD CHECK  (([Nota]>=(0) AND [Nota]<=(100)))
GO
ALTER TABLE [academico].[Calificaciones]  WITH CHECK ADD CHECK  (([Peso] IS NULL OR [Peso]>=(0) AND [Peso]<=(100)))
GO
ALTER TABLE [academico].[Cursos]  WITH CHECK ADD CHECK  (([CupoMaximo] IS NULL OR [CupoMaximo]>(0)))
GO
ALTER TABLE [academico].[Materias]  WITH CHECK ADD CHECK  (([Creditos]>(0)))
GO
ALTER TABLE [academico].[Periodos]  WITH CHECK ADD  CONSTRAINT [CHK_Periodos_Fechas] CHECK  (([FechaFin]>=[FechaInicio]))
GO
ALTER TABLE [academico].[Periodos] CHECK CONSTRAINT [CHK_Periodos_Fechas]
GO
USE [master]
GO
